.container {
  width: clamp(0px, 100%, 92%);
  margin-inline: auto;
  margin-block: 96px;
  /* background-color: aqua; */
  min-height: 50vh;
}
.container > * + * {
  margin-top: 12px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
}
/* @media (width <= 1200px) {
  .container {
    background-color: aqua;
  }
} */
